<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ClearFill Automation">
    <test name="ClearFill Automation">
        <classes>
            <class name="cleanfill.testcases.CreateBatch.BatchLoad"/>
            <class name="cleanfill.testcases.CreateBatch.SoilDescriptionAnalysisParameters"/>
            <class name="cleanfill.testcases.CreateBatch.SourceSiteBatchContacts"/>
            <class name="cleanfill.testcases.CreateBatch.AttachmentsComments"/>
        </classes>
    </test>
</suite>



